<mat-card class="center-card">
    <mat-card-content>
        <div>
            <form [formGroup]="postForm">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>img</mat-label>
                    <input matInput formControlName="img">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Content</mat-label>
                    <textarea matInput rows="5" formControlName="content"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>postedby</mat-label>
                    <input matInput formControlName="postby">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>tag</mat-label>
                    <mat-chip-grid #chipGrid aria-label="enter tag">
                        <mat-chip-row *ngFor="let tag of tags; let i = index" (removed)="remove(tag)">
                            {{tag}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>

                        <input placeholder="newtag.." [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-grid>
                </mat-form-field>

                <button mat-raised-button color="primary" style="float: right;" 
                [disabled]="!postForm.valid" (click)="createPost()">Create news</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>
